// All main colors can be changed here //

// Page background //
$backgroundColor: white;
// Navigation //
$navigationTextColor: #4c3800;
$navigationColorBackground:#DBB561;
$drinksLogoSmall: url("../images/drinks-text.png");
// Beer //
$beerColorBackground: #dbb561;
$beerTextColor: #ffffff;
$beerIconSmall: url("../images/beer-icon.png");
// Cocktail //
$cocktailColorBackground: #93e5e1;
$cocktailTextColor: #50c9c5;
$cocktailIconSmall: url("../images/cocktail-icon.png");
// Coffee //
$coffeeColorBackground: #d7ccc8;
$coffeeTextColor: #a1887f;
$coffeeIconSmall: url("../images/coffee-icon.png");
// MilkShake //
$milkshakeColorBackground: #ffdbcb;
$milkshakeTextColor: #f8bbd0;
$milkshakeIconSmall: url("../images/milkshake-icon.png");

